.flightdatacontainer{
    position: relative;
    height: 100vh;
}


.container{
    border: 2px solid blue;
    margin-bottom: 100px;
    
}
.container_row{
   padding: 40px;
}
.container_col{
    display: flex;
    flex-direction: column;
}

span{
    padding: 0px;
    margin: 10px;
}

h4{
    font-weight: bold;
}

.btn{
   padding-top: 2px; 
   padding-bottom: 2px; 
   padding-left: 60px; 
   padding-right: 60px; 
   border: 1px solid black;
}
div h1{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;

    font-weight: bold;
}
.buttoncontainer{
    display: flex;
    flex-direction: column-reverse;
}
