
.footer{
    background-color: black;
    position:absolute ;
    left: 0;

    bottom: 0; 
    width: 100%;    
}

.footer p{
    color: white;
    margin: 0px;
    text-align: end;
    justify-content: center;
    font-size: large;
}
.footer span p{
    margin: 0px;
    
}